#root {
  padding: 0 25%;
}

input {
  border: 2px black solid;
  border-radius: 10px;
}

button {
  padding: 0.5rem;
  background: white;
  border: 2px black solid;
  border-radius: 10px;
  border-bottom-style: double;
  border-bottom-width: 3px;
}

.p-1 {
  padding: 1rem;
}

.bordered {
  border: 1px black solid;
}

.flex {
  display: flex;
}

.header_save_btn {
  margin-left: auto;
}

.form_body {
  flex-grow: 1;
}